VITE_SYNCFUSION_LICENSE_KEY="syncfusion license key"
VITE_APPWRITE_PROJECT_ID="appwrite project id"
VITE_APPWRITE_API_ENDPOINT="appwrite api endpoint"
VITE_APPWRITE_API_KEY="appwrite api key"
VITE_APPWRITE_DATABASE_ID="appwrite database id"
VITE_APPWRITE_USERS_COLLECTION_ID="appwrite users collection id"
VITE_APPWRITE_ITINERARY_COLLECTION_ID="appwrite itinerary collection id"
VITE_BASE_URL="http://localhost:5173"
STRIPE_SECRET_KEY="stripe secret key"
GEMINI_API_KEY="gemini api key"
UNSPLASH_ACCESS_KEY="unsplash access key"