VITE_SYNCFUSION_LICENSE_KEY="syncfusion license key"
VITE_APPWRITE_PROJECT_ID="appwrite project id"
VITE_APPWRITE_API_ENDPOINT="appwrite api endpoint"
VITE_APPWRITE_API_KEY="appwrite api key"
VITE_GEMINI_API_KEY="gemini api key"
VITE_ARCJET_API_KEY="arcjet api key"